body {
    background-repeat: no-repeat;
    background-image: url("http://tammij.com/images/backgrounds/company-background.jpg");
    background-size: 1500px;
}
#layout{
    width: 1000px;
    height: 100%;
    margin: auto;
    border-radius: 10px;
}

#menu{
    height: 20px;
    float: left;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}
#menu a{
    font-size: 20px;
    margin-left: 70px;
    float: left;

}

#meny a{
    color: red;
}
a:link {color: black;}
a:visited {color: black;}
a:hover {color: lightgray;}

#hr1{
    float: left;
    margin-left: auto;
    margin-right: auto;
}
#bild1{
    margin-top: -250px;
    margin-left: 425px;
    float: left;
}
#bild1 img{
    border-radius: 10px;
}
#program{
    float: left;
    margin-left: 70px;
}